.control-bar {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (prefers-contrast: no-preference) or (prefers-contrast: less) {
        a,
        svg,
        path {
            color: var(--color-ob);
            fill: var(--color-ob);
        }
    }

    &,
    button,
    a,
    svg,
    path {
        transition: color var(--transition-time) ease,
            fill var(--transition-time) ease;
    }

    &:hover,
    &:focus-within {
        a,
        svg,
        path {
            color: var(--color-foreground);
            fill: var(--color-foreground);
        }
    }

    button,
    a {
        position: relative;
        display: block;
        height: 3rem;
        aspect-ratio: 1;
        background: transparent;
        margin: 0;
        padding: 0;
        border: none;

        &:hover,
        &:focus {
            color: var(--color-accent);
            fill: var(--color-accent);

            path {
                fill: var(--color-accent);
            }
        }

        span:not(.visually-hidden),
        svg {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    a {
        &::before,
        &::after {
            display: none;
        }
    }

    @media (max-width: 60rem) {
        bottom: 1rem;
        right: 1rem;

        button,
        a {
            height: 2rem;
        }
    }
}

// control bar icons
*[class^='icon--'] {
    cursor: pointer;
    aspect-ratio: 1;
    width: 2.5rem;

    &.icon--linkedin {
        width: 2.25rem;
    }

    &.icon--vis {
        background: transparent;
        margin: 0;
        padding: 0;
        border: none;
    }
}

@media (max-width: 60rem) {
    .control-bar {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
        flex-direction: row;
        gap: 2rem;
        margin-top: 3rem;

        a,
        svg,
        path {
            color: var(--color-foreground);
            fill: var(--color-foreground);
        }

        *[class^='icon--'] {
            width: 25%;
            max-width: 3rem;
            height: auto;
            aspect-ratio: 1;
        }
    }
}
