nav {
    order: 2;
    height: var(--header-height);
    display: block;
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 3;
    flex-shrink: 0;

    & > menu {
        display: flex;
        margin: 0;
        padding: 0;
        background: inherit;
        list-style: none;

        position: relative;
        overflow: clip;

        & > li {
            margin: 0;
            padding: 0;
            position: relative;
            display: inline-block;
            flex-shrink: 0;
            background: transparent;
            z-index: 2;
            overflow: clip;

            a {
                background: var(--color-background);
                text-decoration: none;
                height: 100%;
                width: var(--base-width);
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                transition: all var(--transition-time) ease;

                &::before,
                &::after {
                    display: none;
                }
            }

            &:hover,
            &:focus-within {
                a {
                    color: var(--color-foreground);
                }
            }
        }
    }
}

#mobile-menu-toggle {
    fill: var(--color-foreground);
    transition: fill var(--transition-time) ease;
}

@media (min-width: 60rem) {
    nav {
        border-top: 1px solid var(--color-foreground);
        border-bottom: 1px solid var(--color-foreground);

        a {
            @media (prefers-contrast: no-preference) or (prefers-contrast: less) {
                color: var(--color-ob);
            }

            @media (prefers-contrast: more) {
                color: var(--color-foreground);
            }
        }

        & > menu {
            height: 100%;
            flex-direction: row;
            align-items: center;
            align-content: center;

            &::after {
                position: absolute;
                left: 0;
                top: calc(100% - 2rem);
                height: 100%;
                content: '...................................................................................................................................................................................................';
            }

            & > li {
                width: var(--base-width);
                transition: width var(--transition-time) ease;
                height: 100%;
            }
        }
    }

    #mobile-menu-toggle {
        display: none;
    }
}

@media (max-width: 60rem) {
    nav {
        position: fixed;
        top: 0;
        width: 100lvw;
        height: 100lvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 100%;
        transition: left var(--transition-time) ease;

        a {
            color: var(--color-foreground);
        }

        menu {
            flex-direction: column;
            justify-content: center;

            li {
                height: auto;
                width: auto;
                font-weight: bold;
                font-size: var(--font-size-lg);
                transition: transform var(--transition-time) ease;
                transform: translateX(2.5rem);

                &:nth-child(1) {
                    transition-delay: calc(var(--transition-time) / 4);
                }

                &:nth-child(2) {
                    transition-delay: calc(var(--transition-time) / 2);
                }

                &:nth-child(3) {
                    transition-delay: calc(var(--transition-time) * 3 / 4);
                }

                &:nth-child(4) {
                    transition-delay: var(--transition-time);
                }
            }
        }
    }

    #mobile-menu-toggle {
        position: fixed;
        top: calc(var(--container-min-padding) - 1.5rem);
        right: var(--container-min-padding);
        z-index: 999999;

        display: block;
        height: auto;
        width: 3rem;
        aspect-ratio: 1/1;
        padding: 0;

        background: none;
        border: none;
        cursor: pointer;

        .open,
        .close {
            position: relative;
            display: block;
            width: 100%;
            aspect-ratio: 1/1;
        }

        .close {
            width: 2.25rem;
            margin: 0 auto;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    html:not(.mobile-nav-open) {
        #mobile-menu-toggle {
            .close {
                display: none;
            }

            .open {
                display: block;
            }
        }
    }

    .mobile-nav-open {
        overflow: hidden;
        height: 100dvh;

        nav {
            left: 0;

            li {
                opacity: 1;
                transform: translateX(0);
            }
        }

        #mobile-menu-toggle {
            .close {
                display: block;
            }

            .open {
                display: none;
            }
        }
    }
}
