---
import Frame from "../../../layouts/Frame.astro";
import Headshot from '@components/Headshot.astro'
import { Content as IntroContent } from '../../../content/sections/intro.md';
---

<Frame id="section--intro">
	<section class="intro">
		<div>
			<Headshot />
		</div>
		
		<div>
			<IntroContent/>
		</div>
	</section>
</Frame>