---
import MainLayout from '../layouts/Main.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
---

<MainLayout title="Welcome to Astro.">
    <main>
        <Nav />
        <div id="top" class="container frame">
            <h1>Sup</h1>
            <p>
                I'm Kirby Johnston, a Web and Software engineer, musician and
                coffee enthusiast.
            </p>
        </div>
        <div id="about" class="container frame">
            <h1>About</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div id="contact" class="container frame">
            <h1>Contact</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </main>
</MainLayout>
<style>
    main {
        display: flex;
        flex-direction: column;
    }
</style>
