@import 'reset.css';
@import 'type.css';
@import 'utils.css';
@import 'components/nav.css';
@import 'components/control-bar.css';
@import 'components/work-card.css';
@import 'components/client-logos.css';
@import 'components/headshot.css';

:root {
    --font-size-base: 16px;
    --color-black: #071013;
    --color-white: #e6e1db;
    --color-gray-dark: #303637;
    --color-gray-light: #bdbbb7;
    --color-dark-blue: #373f58;
    --color-green: #307351;
    --color-green-light: #56b35f;
    --header-height: 3rem;
    --container-width: 60rem;
    --container-max-width: 90rem;
    --container-min-padding: 2rem;
    --container-inline-padding: max(
        var(--container-min-padding),
        calc((100vw - var(--container-width)) / 2)
    );
    --transition-time: 360ms;
    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'Inter', sans-serif;
    --font-size-xl: 2.5em;
    --font-size-lg: 1.842em;
    --font-size-md: 1.25em;
    --font-size-base: 1em;
    --font-size-sm: 0.75em;

    scroll-behavior: smooth;
}

body {
    --color-background: var(--color-white);
    --color-foreground: var(--color-black);
    --color-accent: var(--color-green);
    --color-ob: var(--color-gray-light);
    --transition-time: 0;

    font-family: var(--font-sans);
    background: var(--color-background);
    color: var(--color-foreground);
    /* font-size: 1.25em; */
    font-size: clamp(1.13rem, 0.34vi + 1.04rem, 1.31rem);

    transition: color var(--transition-time) ease,
        background var(--transition-time) ease;

    &.initialized {
        --transition-time: 360ms;
    }
}

@media (min-width: 60rem) {
    .fluid {
        font-size: 1.5em;
    }
}

body.light {
    --color-background: var(--color-white);
    --color-foreground: var(--color-black);
    --color-accent: var(--color-green);
    --color-ob: var(--color-gray-light);

    font-weight: 400;
}

body.dark {
    --color-background: var(--color-black);
    --color-foreground: var(--color-white);
    --color-accent: var(--color-green-light);
    --color-ob: var(--color-gray-dark);
}

@media (prefers-color-scheme: dark) {
    body {
        --color-background: var(--color-black);
        --color-foreground: var(--color-white);
        --color-accent: var(--color-green-light);
        --color-ob: var(--color-gray-dark);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --color-background: var(--color-white);
        --color-foreground: var(--color-black);
        --color-accent: var(--color-green);
        --color-ob: var(--color-gray-light);
    }
}

body.light .icon--vis .light {
    display: none;
}

body.dark .icon--vis .dark {
    display: none;
}

main {
    background: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
}

hr {
    color: var(--color-foreground);
    width: 100%;
    margin-block: 2rem;
}

::selection,
strong {
    background: var(--color-accent);
    color: var(--color-background);
    transition: background var(--transition-time) ease,
        color var(--transition-time) ease;
}

strong::selection {
    background: var(--color-foreground);
    color: var(--color-background);
}

.frame {
    position: relative;
    min-height: 100dvh;
    padding-top: calc(var(--header-height) + 4rem);

    @media (min-width: 60rem) {
        padding-block: calc(var(--header-height) + 6rem);
        &:not(#section--intro):not(:last-child) {
            border-bottom: 2px solid var(--color-foreground);
        }
    }

    @media (max-width: 60rem) {
        padding-block: 2.5rem;

        &:not(:last-child) {
            border-bottom: 2px solid var(--color-foreground);
        }
    }
}

.intro {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;

    @media (max-width: 60rem) {
        grid-template-columns: 1fr;
    }
}

// layout positioning
nav {
    order: 2;
}

#section--intro {
    order: 1;
    min-height: calc(100dvh - var(--header-height));
}

#section--work {
    order: 3;
}

#section--about {
    order: 4;
}

#section--contact {
    order: 5;
}
