*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --black: #071013;
    --white: #e6e1db;
    --dark-blue: #373f58;
    --green: #307351;
    --header-height: 3rem;
    --container-width: 80ch;
    --container-max-width: 1440px;
    --container-min-padding: 1rem;
    --container-inline-padding: max(
        var(--container-min-padding),
        calc((100vw - var(--container-width)) / 2)
    );

    scroll-behavior: smooth;
}

body.light {
    --background: var(--white);
    --foreground: var(--black);
}

body.dark {
    --background: var(--black);
    --foreground: var(--white);
}

.container {
    padding-inline: var(--container-inline-padding);
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--background);
    color: var(--foreground);
    font-size: 1.25em;
    transition: all 120ms ease;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.842em;
}

h3 {
    font-size: 1.3572em;
}

.frame {
    display: flex;
    height: calc(100vh - var(--header-height));
    padding-block: var(--header-height);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#top {
    order: 1;
}

#about {
    order: 3;
}

#contact {
    order: 4;
}

.visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 1px;
    width: 1px;
    opacity: 0.001;
}

main {
    background: inherit;
    color: inherit;
}

nav {
    order: 2;
    height: var(--header-height);
    display: block;
    position: sticky;
    top: 0;
    border-top: 1px solid var(--foreground);
    border-bottom: 1px solid var(--foreground);
    background: inherit;
    z-index: 3;

    & > menu {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        background: inherit;

        flex-direction: row;
        list-style: none;
        align-items: center;
        align-content: center;

        position: relative;
        overflow: hidden;

        &::after {
            position: absolute;
            left: var(--base-width);
            top: calc(1rem - 2px);
            height: 100%;
            content: '...................................................................................................................................................................................................';
        }

        & > li {
            margin: 0;
            padding: 0;
            width: var(--base-width);
            transition: margin 384ms ease;
            position: relative;
            display: inline-block;
            flex-shrink: 0;
            background: inherit;
            z-index: 2;
            overflow: hidden;

            &:not(:last-child) {
                width: calc(var(--base-width) + 1rem);
            }
        }
    }

    & > a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
    }
}

body[data-current='top'] li[data-target='top'],
body[data-current='about'] li[data-target='about'],
body[data-current='contact'] li[data-target='contact'] {
    width: var(--base-width);
    margin-right: auto;
    flex-shrink: 1;
}

body.light #vis-mode .light {
    display: none;
}

body.dark #vis-mode .dark {
    display: none;
}

#vis-mode {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;

    .light {
        fill: var(--white);
    }

    .dark {
        fill: var(--black);
    }
}

.visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 1px;
    width: 1px;
    opacity: 0.001;
}
