---
import EmailIcon from '../icons/icon--email.svg?raw'
import GithubIcon from '../icons/icon--github.svg?raw'
import LinkedinIcon from '../icons/icon--linkedin.svg?raw'
import VisMode from '../components/VisMode.astro'
---

<div class="control-bar">
	<a href="mailto:sup@kirbyjohnston.com?subject=👋%20Sup" class="icon--email">
		<span class="visually-hidden">Email me!</span>
		<Fragment set:html={EmailIcon} />
	</a>
	<a href="https://github.com/spitemonster" class="icon--github" target="_blank">
		<span class="visually-hidden">Visit my Github!</span>
		<Fragment set:html={GithubIcon} />
	</a>
	<a href="https://www.linkedin.com/in/kirby-johnston-04a743293/" class="icon--linkedin" target="_blank">
		<span class="visually-hidden">Visit my LinkedIn!</span>
		<Fragment set:html={LinkedinIcon} />
	</a>

	<VisMode />
</div>