---

---

<nav class="container">
    <menu>
        <li data-target="section--main" class="active"><a href="#section--main">@</a></li>
		<li data-target="section--work"><a href="#section--work">Work</a></li>
        <li data-target="section--about"><a href="#section--about">About</a></li>
        <li data-target="section--contact"><a href="#section--contact">Contact</a></li>
    </menu>
</nav>
