---

---

<nav class="container">
    <menu>
        <li data-target="section--main" class="active"><a href="#sup">@</a></li>
		<li data-target="section--work"><a href="#work">Work</a></li>
        <li data-target="section--about"><a href="#about">About</a></li>
        <li data-target="section--contact"><a href="#contact">Contact</a></li>
    </menu>
</nav>
