---
import LightModeIcon from "../icons/icon--light.svg?raw";
import DarkModeIcon from "../icons/icon--dark.svg?raw";
---
<button id="visibility-toggle" class="icon--vis">
	<span class="visually-hidden">Toggle Light/Dark Mode</span>
	<span class="light">
		<Fragment set:html={LightModeIcon} />
	</span>
	<span class="dark">
		<Fragment set:html={DarkModeIcon} />
	</span>
</button>

<script>
	document.getElementById('visibility-toggle')?.addEventListener('click', () => {
        document.body.classList.toggle('light')
        document.body.classList.toggle('dark')
    })
</script>

<style>
	button {
		background: transparent;
		border: none;
		border-radius: 0;
	}
	
	a,
			svg,
			path {
				color: var(--color-foreground);
				fill: var(--color-foreground);
			}
</style>