---
interface Props {
    title: string
}

const { title } = Astro.props
import "../style/global.css"
import '@fontsource/ibm-plex-mono/100.css';
import '@fontsource/ibm-plex-mono/400.css';
import '@fontsource/ibm-plex-mono/700.css';
import '@fontsource/inter/200.css';
import ControlBar from "../components/ControlBar.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="8+ years transforming big ideas into high-performance websites. Trusted by Fortune 100 firms, e-commerce leaders & cultural institutions. Based in Dayton, Ohio. Let’s craft solutions." />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💀</text></svg>">
        <title>{title}</title>
    </head>
    <body class="dark">
		<ControlBar/>
		
		<main>
			<slot />
		</main>
        
    </body>
    <script>
		import "../script/global.js"
	</script>
</html>
