---
import { getCollection } from "astro:content"
import WorkCard from "./WorkCard.astro"
const work = await getCollection('work')
---
<h3>Employers:</h3>
<div id="work-cards">
	<ol>		
		<!-- should be CollectionEntry type but don't know how to annotate it -->
		{ work.map((w: any) => {
			return (
				<li>
					<WorkCard work={w} />
				</li>
			)
		})}
	</ol>
</div>